
.ipynb_checkpoints/grdtrack_example2-checkpoint.ipynb
table.txt
.DS_Store
.ipynb_checkpoints/regional_residual_bathymetry-checkpoint.ipynb
filt.nc
.ipynb_checkpoints/AgeDepthRelationship-checkpoint.ipynb
.ipynb_checkpoints/ExpectedDepth-checkpoint.ipynb
Data/SeafloorDepth_SteinStein.nc
Data/Bathymetry_nc4.nc
